<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="playlist-container">
    {% for playlist in playlistViewModelArray %}
        <div class="playlist">
            <button style="max-height: 2rem;  margin-left: auto; background-color:rgb(14, 235, 36)">+ Song</button>
            <h2 class="playlist-title">{{playlist['playlist'].title}}</h2>
            
            {% for track in playlist['tracks'] %}
                <div class="playlist-track">
                    {% if (playlist['playlist'].title == "Winner Wednesday") %}
                    <div class="vote-box">
                        <div style="display:flex; flex-direction: row;">
                            <div>
                                <h4 style="padding:0; margin-bottom:10px;">{{track.track_title}}</h4>
                                <p style="padding:0; margin:0;"><a class="playlist-track-link" href="https://music.apple.com/us/song/1532019310">Apple Music</a></p>
                                <p style="padding:0; margin:0;"><a class="playlist-track-link" href="https://open.spotify.com/track/5x2kt6LCe6a2ePj3sb7IV2?si=0f87f23af3f64dee">Spotify</a></p>
                            </div>
                            <div style="display:flex; flex-direction: column; width: 20%; margin-left:auto ">
                                <button>Up Vote</button>
                                <button>Down Vote</button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <h4 style="padding:0; margin-bottom:10px;">{{track.track_title}}</h4>
                        <p style="padding:0; margin:0;"><a class="playlist-track-link" href="https://music.apple.com/us/song/1532019310">Apple Music</a></p>
                        <p style="padding:0; margin:0;"><a class="playlist-track-link" href="https://open.spotify.com/track/5x2kt6LCe6a2ePj3sb7IV2?si=0f87f23af3f64dee">Spotify</a></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>



</body>
</html>